$primary-color: #323232;
$secondry-color: #afafaf;
$text-background-color: #ffffff;
$background-color: #0095FF;
$border-color: #e1e1e1;
$button-color:#063F8A ;

$desktop: 1200px;
$tablet: 768px;
// breakpoints
$tablet-breakpoint: 768px; 
$desktop-breakpoint: 1200px;

// colors 
$black: #323232;
$lightest-blue: #0095FF;
$lighter-blue: #0065AD;
$blue: #004892;
$dark-blue: #002F5F;
$light-silver: #FAFAFA;
$silver: #E1E1E1;
$dark-silver: #AFAFAF;
$white: #FFF;
$form-background:rgb(52, 152, 218);


// font 
$primary-font: "avenir";
$primary-font-bold: "avenir-bold";
$primary-font-thin: "avenir-thin";

