.home{
    box-sizing: border-box;
    padding-top:3vw;
    width:100%;
    height:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    //background:rgba(157, 148, 189,0.2)
}